.avr-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.products h2 {
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

ul#product-list {
    list-style-type: none;
    padding: 0;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 18px;
    box-sizing: border-box;
}

.product-item:last-child {
    border-bottom: none;
}

.product-item img {
    max-width: 80px;
    max-height: 80px;
    object-fit: cover;
    border-radius: 5px;
}

.product-details {
    flex-grow: 1;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    margin-left: 20px;
}
.product-details .min{
    background-color: #b0b0b0;
    color: #eeff00;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}
.product-details .max{
    background-color: #b0b0b0;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ff0000;
    /* margin-left: 10px; */
}
@media (max-width: 768px) {
    .products{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .product-details .min{
        margin-right: 5px;
    }
}
.product-name {
    display: block;
    font-size: 20px;
    color: #333;
}

.product-price {
    display: block;
    font-size: 18px;
    margin-top: 10px;
}

.average-price {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #4CAF50;
}

#average-price {
    color: #4CAF50;
}

/* Price color-coding */
.price-high {
    color: red;
}

.price-low {
    color: yellow;
}

.price-average {
    color: green;
}
